apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: {{ zookeeper_name }}
  name: {{ zookeeper_name }}
spec:
  clusterIP: None
  ports:
  - name: client
    port: 2181
    protocol: TCP
    targetPort: 2181
  selector:
    app.kubernetes.io/name: {{ zookeeper_name }}
  sessionAffinity: None
  type: ClusterIP
